<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{z(Z) yyyy-MM-dd HH:mm:ss}[%c] -- %p -- %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="TRACE"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<appender name="JPA" class="com.free.misc.WrapperAppender">
		<param name="loggerClass" value="com.free.ydjt.log.JpaLogger"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{z(Z) yyyy-MM-dd HH:mm:ss}[%c] -- %p -- %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<!-- appender name="DATABASE" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="URL" value="jdbc:oracle:thin:@192.168.0.59:1521:oanet"/>
		<param name="driver" value="oracle.jdbc.driver.OracleDriver"/>
		<param name="user" value="hdczoa"/>
		<param name="password" value="system"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="INSERT INTO hdczoa.LOG4J(stamp,thread, info_level,class,message) VALUES ('%d', '%t', '%p', '%c', %m)" />
		</layout>
	</appender-->

	<!-- 发邮件（只有ERROR时才会发送！） -->  
	<!-- appender name="MAIL" class="org.apache.log4j.net.SMTPAppender">
		<param name="threshold" value="fatal"/>
		<param name="BufferSize" value="512"/>
		<param name="From" value="test@163.com"/>
		<param name="SMTPHost" value="smtp.163.com"/>
		<param name="Subject" value="juyee-log4jMessage"/>
		<param name="To" value="test@163.com"/>
		<param name="SMTPUsername" value="test"/>
		<param name="SMTPPassword" value="test"/>
		<layout class="org.apache.log4j.PatternLayout">
	  	<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} [%p]-[%c] %m%n" />
		</layout>
	</appender-->

	<!-- appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="256"/>
		<appender-ref ref="DATABASE"/>
	</appender-->

	<category name="net.sf.ehcache">
		<level value="ERROR"/>
	</category>

	<category name="org.apache">
		<level value="ERROR"/>
	</category>

	<category name="org.enhydra">
		<level value="ERROR"/>
	</category>

	<category name="org.hibernate">
		<level value="ERROR"/>
	</category>

	<category name="org.logicalcobwebs">
		<level value="INFO"/>
	</category>

	<category name="org.mortbay">
		<level value="INFO"/>
	</category>

	<category name="org.objectweb">
		<level value="ERROR"/>
	</category>

	<category name="org.springframework">
		<level value="ERROR"/>
	</category>

	<category name="com.atomikos">
		<level value="ERROR"/>
	</category>

	<category name="com.jolbox">
		<level value="ERROR"/>
	</category>

	<category name="com.opensymphony">
		<level value="ERROR"/>
	</category>

	<category name="org.quartz">
		<level value="ERROR"/>
	</category>

	<category name="com.free">
		<level value="INFO"/>
		<appender-ref ref="JPA"/>
	</category>

	<category name="com.test">
		<level value="INFO"/>
		<appender-ref ref="JPA"/>
	</category>

	<category name="atomikos">
		<level value="ERROR"/>
	</category>

	<root>
		<priority value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
	</root>
</log4j:configuration>